<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @teacher_datum.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher_datum.last_name %>
</p>

<p>
  <strong>Nine hundred:</strong>
  <%= @teacher_datum.nine_hundred %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher_datum.email %>
</p>

<%= link_to 'Edit', edit_teacher_datum_path(@teacher_datum) %> |
<%= link_to 'Back', teacher_data_path %>
